.gm_fullfeed_loading,
.gm_fullfeed_loading a{
  color: green !important;
}
.gm_fullfeed_loading .item_body a{
  color: palegreen !important;
}
.gm_fullfeed_loading{
  background-color: Honeydew !important;
}
.gm_fullfeed_icon{
  cursor: pointer !important;
}
.gm_fullfeed_h2{
  display: block !important;
  font-weight: bold !important;
  font-size: 130% !important;
}
